{% extends "layout.njk" %}

{% block head %}
  <title>Gym Manager - Novo Instrutor</title>
{% endblock %}

{% block content %}
  <div id="content">
    <form class="card" method="POST" action="/instructors">
      <section class="avatar" style="background: url(https://source.unsplash.com/collection/3652543/900x900) no-repeat center center / cover;">
      </section><!--avatar-->
      <section class="details">
        <h3>Novo Instrutor</h3>
        
        {% include "instructors/fields.njk" %}
      </section><!--details-->
    </form><!--card-->
  </div><!--page-instructors-->
{% endblock %}