{% extends "layout.njk" %}

{% block head %}
  <title>Gym Manager - Novo Membro</title>
{% endblock %}

{% block content %}
  <div id="content">
    <form class="card" method="POST" action="/members">

      <section class="avatar" style="background: url(https://source.unsplash.com/collection/3652543/900x900) no-repeat center center / cover;">
      </section><!--avatar-->

      <section class="details">
        <h3>Novo Membro</h3>

        {% include "members/fields.njk" %}
      </section><!--details-->
      
    </form><!--card-->
  </div><!--page-members-->
{% endblock %}